<div class="d-flex  {% if current_variant.taxable %} price-with-gst-wrapper {% endif %} taxable--{{current_variant.taxable}}">
<span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
<span id="ProductPrice" class="h2" itemprop="price"
  content="{{ current_variant.price | divided_by: 100 }}"
  v-bind:content="variant ? variant.price / 100 : null"
  v-html="variant ? money(variant.price) : '{{ 'products.product.unavailable' | t }}'"
>
  <span class="money">{{ current_variant.price | money }}</span>
</span>
{%- if current_variant.taxable -%}
  <span class="h2"><span class="with-gst-price"></span><small class=""> Inc. GST</small> </span>
  {% else %}
  <span style="display:flex;align-items: center;">&nbsp;GST Free </span>
{%- endif -%}

</div>