<div class="best-sllers-tabbing-home-main-wrap akk">
  <h3>{{ section.settings.title }}</h3>
   <h4>{{ section.settings.sub_heading }}</h4>
  <div class="product-tab-content">
   <div id="exTab2" class="">	
   <div class="mobile-dropdown">
  <span class="dropdown_value">{{section.blocks[0].name}}</span>
  </div>
    <ul class="best-sellers-nav nav nav-tabs">
        {% assign i = 1 %}
        {% for block in section.blocks %}
          <li class="{% if i == 1 %} active {% endif %} tab best-sellers-tab">
            <a  href="#best{{ i }}" data-toggle="tab">{{ block.settings.name | escape }}</a>
        </li>
        {% assign i = i | plus: 1 %}
    	{% endfor %}	
      
      </ul>

      <div class="tab-content best-sellers-content">
        {% assign i = 1 %}
       
        {% for block in section.blocks %}
        {% assign curr_coll = block.settings.best_seller_id %}
    
        <div class="tab-pane {% if i == 1 %} active {% endif %}" id="best{{ i }}">
           <div class="best-sellers-single-item" {{ block.shopify_attributes }}>
          {% for product in collections[curr_coll].products limit:4 %}
            <div class="best-sellers-wrap">
            <div class="best-sellers-image">
              <img src="{{ product.featured_image | img_url:"535x535" }}">
            </div>
             <h3 class="best-sellers-title">{{product.title}}</h3>
            <div class="thermoskin-range-section--text-wrapper">
            {% if product.description %}
            <p>  {{ product.description | strip_html | truncate: 100 }}</p>
            {% endif %}
            </div>
            <a class="thermoskin-range-view-list-btn" href="{{ product.url }}">VIEW product</a>
            </div>
          
          {% endfor %}
           </div>
        </div>
        {% assign i = i | plus: 1 %}
        {% endfor %}
        
      </div>
  </div>
  </div>
</div>

{% schema %}
{
  "name": "Best Sellers",
  "class": "thermoskin-best-sellers",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub Heading"
    }
  ],
  "max_blocks": 8,
  "blocks": [
     {
       "name": "Type",
       "type": "best_seller",
       "settings": [
         {
           "type": "collection",
           "id": "best_seller_id",
           "label": "Collection Type"
         },
         {
           "type": "text",
           "id": "name",
           "label": "Collection Name"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "Best Sellers",
      "settings": {
        "title": "Best Sellers"
      },
      "blocks": [
        {
          "type": "best_seller"
        },
        {
          "type": "best_seller"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Best sellers"
    },
    "fr": {
      "title": "Diaporama"
    }
  }
}
{% endschema %}

